<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="{{ path '/css/view.css' }}">
    <title>Valtech_</title>
</head>
<body>

{{{ yield }}}

</body>
</html> 